/* import styleGuide ---------------------*/
/*------------------------ base style ------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div,
figure,
section,
ul,
ol,
li,
table,
tbody,
thead {
  margin: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: acumin-pro, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background-color: #fafafa;
}

/* Common */
.container {
  max-width: 57.125em;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 56.25em) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jutify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.p-relative {
  position: relative;
}

.t-center {
  text-align: center;
}

.img-res {
  width: 100%;
  max-width: 100%;
}

.juce_item {
  border-radius: 10rem;
  height: 3.5rem;
  width: 100%;
  margin: 0 auto 0.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fafafa;
  text-transform: uppercase;
}

/* import style ------------------------*/
/* header  */
.header {
  background-color: #ffffff;
  border-bottom: 0.1rem solid #535353;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
}

.header_logo,
.header_user {
  height: 4rem;
  width: 4rem;
  background-color: #535353;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

.header_user-wrap span {
  margin-left: 1rem;
}

/* main */
.main {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 0.1rem solid #535353;
  padding: 3rem 1rem;
}

@media only screen and (max-width: 47.94em) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3rem 2.5rem;
  }
}

/* juce_glass */
.juce_glass {
  min-height: 57rem;
  width: 31rem;
  border-bottom: 0.5rem solid #6c777a38;
  border-left: 0.5rem solid #6c777a38;
  border-right: 0.5rem solid #6c777a38;
  background-color: #dbe1e338;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  position: relative;
}

.juce_glass::before {
  position: absolute;
  content: "";
  width: 110%;
  border-top: 0.5rem solid #6c777a38;
  top: -0.1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 47.94em) {
  .juce_glass {
    width: 100%;
  }
}

.suger {
  background-image: url(../images/dot.jpg);
  color: #131313 !important;
}

.mango {
  background-color: orange;
}

.strawberry {
  background-color: #cc533d;
}

.orange {
  background-color: #e9a034;
}

.lemon {
  background-image: url(../images/lemon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #131313 !important;
  height: 15rem !important;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.lychee {
  background-color: #f15141;
}

.solt {
  background-color: #5fe7c5;
}

.juce_select {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1;
}

.juce_select:not(:last-child) {
  margin-bottom: 1.6rem;
}

.quantity {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.btn {
  height: 2.3rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0.2rem;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1rem #483b3b;
  box-shadow: 0 0 1rem #483b3b;
}

.btn:focus {
  outline: none;
}

.btn:not(:first-child) {
  margin-left: 0.8rem;
}

.plus {
  background-color: green;
}

.minus {
  background-color: red;
}

/* .main_juce-builder */
.main_juce-builder {
  width: 32rem;
  margin-top: 4rem;
}

@media only screen and (max-width: 47.94em) {
  .main_juce-builder {
    width: 100%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 47.94em) {
  .juce_title {
    text-align: center;
  }
}

.juce_meker-controll {
  margin: 4rem 0;
}

@media only screen and (max-width: 47.94em) {
  .juce_meker-controll {
    margin: 3rem 0 4rem;
  }
}

.add-to-cart {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  border: none;
  background-color: green;
  color: #fff;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.add-to-cart:hover {
  -webkit-box-shadow: 0 0 0.6rem darkgreen;
  box-shadow: 0 0 0.6rem darkgreen;
  cursor: pointer;
}

.add-to-cart:focus {
  outline: none;
}

/* footer */
.footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}

@media only screen and (max-width: 47.94em) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

.footer_copy {
  color: #131313;
  font-size: 1.6rem;
}

.footer_copy a {
  color: currentColor;
  text-decoration: none;
}

.footer_copy a:hover {
  color: #0000ff;
  text-decoration: underline;
}

.footer_text {
  font-size: 1.6rem;
}

.footer_text i {
  color: #0000ff;
}
