/*------------------------ base style ------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p,img,div,figure,section,ul,ol,li,table,tbody,thead {
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $acumin-pro;
  font-size: $font-20;
  font-weight: $font-weight-400;

  background-color: $body-bg-color;
}