/* footer */
.footer {
  justify-content: space-between;
  padding: 1rem;

  @include respond(phone) {
    flex-direction: column;
    text-align: center;
  }

  &_copy {
    color: $color-black;
    font-size: $font-16;
    a {
      color: currentColor;
      text-decoration: none;

      &:hover {
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }

  &_text {
    font-size: $font-16;
    i {
      color: $color-blue;
    }
  }
}
