.juce_select {
  list-style: none;
  display: flex;
  justify-content: space-between;

  line-height: 1;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.quantity {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.btn {
  height: 2.3rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0.2rem;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem #483b3b;
  }

  &:focus {
    outline: none;
  }

  &:not(:first-child) {
    margin-left: 0.8rem;
  }
}

.plus {
  background-color: green;
}

.minus {
  background-color: red;
}
