/* import styleGuide ---------------------*/
/*------------------------ base style ------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div,
figure,
section,
ul,
ol,
li,
table,
tbody,
thead {
  margin: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: acumin-pro, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background-color: #fafafa;
}

/* Common */
.container {
  max-width: 57.125em;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 56.25em) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jutify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.p-relative {
  position: relative;
}

.t-center {
  text-align: center;
}

.img-res {
  width: 100%;
  max-width: 100%;
}

.juce_item {
  border-radius: 10rem;
  height: 3.5rem;
  width: 100%;
  margin: 0 auto 0.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fafafa;
  text-transform: uppercase;
}
